/* font-family: 'M PLUS 1p', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Sawarabi Mincho', serif;
font-family: 'Tsukimi Rounded', sans-serif;
font-family: 'Yomogi', cursive; */

/* 共通 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Yomogi', cursive;
    list-style: none;
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
a
li,
th,
td,
dd
 {
    font-family: 'Yomogi', cursive;
    font-size: 3rem;
} 



h2{
    margin: 20px;
}


main{
    margin: 50px 0;
}


nav{
    width: 100%;
    height: 15vh;
    background-color: #004384;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    font-size: 2vw;
}
nav h1{
    border-right: #fff 1px solid;
    padding-right: 2vw;
    font-size: 5vw;
}

.mainvisual{
    width: 100%;
    height: 50vh;
    background-image: url(./images/家族.jpg);
    background-repeat: no-repeat; 
    object-fit: cover;  
    display: flex;
    justify-content: center;
    align-items: center; 
}
section h1{
    color: #fff;
}

main {
        /* background-image: url(./images/background.png);
        background-repeat: repeat;
        background-attachment: fixed; */
        /* background-position: 0 0; */
        background-color: #72B8FF;
}

section{
    margin: 0px auto;
    padding: 30px 10%;
}

section h1{
    width: 40%;
    margin: 12vh auto;
    text-align: center;
    font-size: 8vw;
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

}



#header-top-i {
    background:url(../image/GB.jpg);
    width: 100%;
    height: 30vh;
}


/* マップ */
#map{
    width: 100%;
    padding: 0;
    margin: 0;

}


.map_img{
    width: 100%;
    height: auto;
}


/* ガイダンス */

#guidance{
    background-color: #fff;
    /* margin: 0;
    padding: 0%; */
    width: 100%;
}


/* アクセス1 */
#access1{
    width: 100%;
    padding:0;
    margin: 0;

}

.access_map{
    padding: 20px 0px;
width: 100%;
height: 40vh;

}

.access1_content{

    padding: 30px 10%;
}

/* アクセス2 */



.dummy_footer{
    width: 100%;
    clip-path: inset(50% 0 0 0);
}

.access-tb{
    width: 70%;
    text-align: center;

}


th,
td,
dd{
font-size: 2rem;
border: 2px solid #000;
}




footer {
    
    background-color: #004384;
    color: white;
    text-align: center;
}